<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отримати OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Отримати OTP</h1>
    <form action="/generate_otp" method="POST">
        <input type="text" name="username" placeholder="Користувач" required>
        <button type="submit">Згенерувати OTP</button>
    </form>

    <a href="{{ url_for('index') }}">Повернутися на головну</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>

